name: Nginx

on:
  push:
    paths:
      - 'docker/nginx/**'
  pull_request:
    paths:
      - 'docker/nginx/**'

jobs:

  test:
    name: Test Nginx Configuration
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Install Nginx
      run: sudo apt-get install -y nginx

    - name: Test Nginx Configuration
      run: nginx -t ./docker/nginx/

  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      
      - name: Log in to Docker Hub
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          username: ${{ secrets.DOCKERHUB_LOGIN }}
          password: ${{ secrets.DOCKERHUB_PASS }}
      
      - name: Build and push Docker image
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: ./docker/nginx/
          push: true
          tags: tomasbalaz/sample-nginx:0.2
